.container {
  margin-bottom: 24px;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 12px;
  color: #3b2f2f; /* Kahve tonu */
}

.text {
  font-size: 1.1rem;
  color: #555;
}